*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.main_container{
    background-image: linear-gradient(60deg,orange,  black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.container{
    width: 35%;
    height: 300px;
    /* border: 1px solid red; */
    background-color: #ccc;
    margin-bottom: 20px;
    border-radius: 10px;
    z-index: 1;
}
#team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#team>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.middle{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}
.middle>button{
    margin: 0 30px;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(101, 101, 252);
    color: #fff;
    font-size: 16px;
    border: none;
}
.middle>button:active{
    background-color: #ccc;
    color: #111;
}
#submit{
    margin-bottom: 20px;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(101, 101, 252);
    font-size: 20px;
    font-weight: bold;
    border: none;
}
#submit:active{
    background-color: #ccc;
}
.result{
    position:absolute;
    bottom: 50px;
    left:45%;
    background-color: rosybrown;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 20px;
}
p{
    position:absolute;
    bottom: 10px;
    left:48%;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}